.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: var(--koromiko);
  color: #272727;
  @extend %Comfortaa-600;
  font-size: .625rem;
  line-height: calc(12/10);
  text-align: center;
  @include transition ($transition-property: (background-color, color));

  &:hover {
    background-color: var(--coffee);
    color: var(--white);
  }

  &--hero {
    width: 91px;
    height: 34px;
  }

  &--products {
    margin: 0 auto;
    width: 78px;
    height: 30px;
    padding: 3px;
    font-size: .5rem;
    line-height: calc(9/8);
  }

  &--courses {
    margin: 0 auto;
    width: 115px;
    height: 39px;
    font-size: .75rem;
    line-height: calc(13/12);
  }

  &--reviews {
    margin: 0 auto;
    width: 124px;
    height: 39px;
    font-size: .5rem;
    line-height: calc(9/8);
  }

  @media screen and (width > 479px) {

    &--hero {
      font-size: .875rem;
      line-height: calc(9/8);
    }

    &--products {
      width: 103px;
      height: 35px;

      font-size: .75rem;
      line-height: calc(13/12);
    }
  }

  @media screen and (width > 767px) {

    &--hero {
      width: 120px;
      height: 45px;
    }
  }

  @media screen and (width > 999px) {

    &--hero,
    &--products,
    &--courses {
      font-size: .875rem;
      line-height: calc(16/14);
    }

    &--hero {
      width: 150px;
      height: 55px;
    }

    &--products {
      width: 150px;
      height: 55px;
    }

    &--courses {
      width: 129px;
      height: 42px;
    }

  }
}