.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1180px;


  @media screen and (max-width : 1000px ) {
    padding: 0 20px;
  }

  @media screen and (width < 769px ) {
    max-width: 640px;
  }

  @media screen and (width < 481px ) {
    padding: 0 10px;
  }
}