.courses {

  &__content {
    width: 205px;
  }

  &__list {
    justify-content: center;
    text-align: center;
    gap: 30px 0;
  }

  &__item {
    flex-basis: 288px;
    position: relative;

    &-img {
      margin: 0 auto 35px;
      width: 195px;
    }

    &-name,
    &-clock,
    &-price {
      position: absolute;
      background: #BEA495;
      color: var(--white);
      @extend %YesevaOne-400;
      font-size: .6875rem;
      line-height: calc(13/11);
      text-align: center;
    }

    &-name {
      padding: 15px 15px 15px 10px;
      width: 191px;
      height: 43px;
      left: 46px;
      top: 126px;
    }

    &-clock {
      padding: 7px 7px 7px 10px;
      width: 129px;
      height: 27px;
      left: 46px;
      top: 184px;

      & span {
        color: #FFF;
        @extend %Comfortaa-400;
        font-size: .625rem;
        line-height: calc(11/10);
      }
    }

    &-price {
      padding: 19px 12px 19px 10px;
      width: 86px;
      height: 50px;
      left: 156px;
      top: 230px;
    }

    & .title-h3 {
      font-size: .75rem;
      line-height: calc(14/12);
    }

    &-text {
      font-size: .625rem;
      line-height: calc(11/10);
      margin-top: 9px;
      margin-bottom: 11px;
    }
  }

  @media screen and (width > 479px) {
    & .title-h2 {
      margin-bottom: 10px;
    }

    &__content {
      width: 300px;
    }

    &__list {
      gap: 0;
      justify-content: space-between;
    }

    &__item {
      flex-basis: calc((100% - 38px) / 2);


      &-img {
        margin: 0 0 35px;
      }

      &-name {
        left: 0px;
        top: 130px;
      }

      &-clock {
        left: 0px;
        top: 190px;
      }

      &-price {
        left: 109px;
        top: 230px;
      }
    }
  }

  @media screen and (width > 767px) {
    & .title-h2 {
      margin-bottom: 15px;
    }

    &__item {
      flex-basis: calc((100% - 25px) / 2);

      &-name {
        top: 125px;
      }

      &-clock {
        top: 185px;
      }

      &-price {
        left: 111px;
        top: 232px;
      }
    }
  }

  @media screen and (width > 999px) {

    &__inner {
      gap: 33px;
    }

    &__item {
      flex-basis: calc((100% - 77px) / 2);

      &-img {
        width: 268px;
        margin-bottom: 28px;
      }

      &-name {
        top: 168px;
      }

      &-clock {
        top: 235px;
      }

      &-price {
        left: 182px;
        top: 325px;
      }

      &-text {
        font-size: .875rem;
        line-height: calc(16/14);
        margin-top: 15px;
        margin-bottom: 24px;
      }
    }

    & .title-h3 {
      font-size: 1rem;
      line-height: calc(18/16);
    }
  }
}