.creation {

  & .title-h2 {
    color: var(--black);
  }

  &__list {
    display: flex;
    gap: 72px 24px;
    padding-bottom: 85px;
  }

  &__item {
    display: flex;
    flex-basis: calc((100% - 24px) / 2);
    gap: 38px;

    &-text {
      width: 174px;
      height: 135px;
      margin-bottom: 85px;
    }

    & picture {
      overflow: hidden;
    }

    &-img {
      object-fit: cover;
    }

    &-num {
      color: var(--unnamed, #BEA495);
      @extend %YesevaOne-400;
      font-size: 1.875rem;
      line-height: calc(35/30);
    }
  }

  &__wrapp--order {
    order: -1;
  }

}