html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    display: block;
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    // font-size: inherit;
}

body {
    background: var(--peach);
    @extend %Comfortaa-400;
    font-size: .875rem;
    line-height: calc(16/14);
    color: var(--black);
    overflow-x: hidden;
    min-width: 300px;

    // @media screen and (width < 1000px ) {
    //     font-size: .625rem;
    // }
    @media screen and (width < 769px) {
        line-height: calc(15/10);
    }

    @media screen and (width < 361px) {
        line-height: calc(11/10);
    }
}

button {
    padding: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

::marker {
    margin-top: 10px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

// .wrapper {
//     display: flex;
//     flex-direction: column;
//     min-height: 100%;
// }

.main {
    overflow-x: clip;
    //     flex: 1 0 auto;
}

// .footer {
//     flex: 0 0 auto;
// }


// .hr-line {
//     border-bottom: 1px solid var(--black);
// }


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}