.header {
  padding-top: 4px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (width < 619px ) {
    & .nav__list {
      display: none;
    }
  }
}