// h1 30px
.title-h1 {
  color: var(--black);
  @extend %YesevaOne-400;
  font-size: 1.125rem;
  line-height: calc(21/18);
  margin-bottom: 15px;

  @media screen and (width > 479px) {
    font-size: .9375rem;
    line-height: calc(18/15);
  }

  @media screen and (width > 767px) {
    font-size: 1.25rem;
    line-height: calc(23/20);
    margin-bottom: 20px;
  }

  @media screen and (width > 999px) {
    font-size: 1.875rem;
    line-height: calc(35/30);
    margin-bottom: 20px;
  }

}

// h2 40px
.title-h2 {
  color: var(--gray);
  @extend %YesevaOne-400;
  font-size: .9375rem;
  line-height: calc(17/15);
  margin-bottom: 10px;

  @media screen and (width > 479px) {
    margin-bottom: 20px;
  }

  @media screen and (width > 999px) {
    font-size: 2.5rem;

    line-height: calc(46/40);
    margin-bottom: 15px;
  }

}

.title-h3 {
  font-size: .625rem;
  line-height: calc(12/10);
  color: var(--black);
  @extend %YesevaOne-400;


  @media screen and (width > 999px) {
    font-size: 1rem;
    line-height: calc(18/16);
  }
}

.title-h4 {
  font-size: .6875rem;
  line-height: calc(13/11);
  @extend %YesevaOne-400;
  color: var(--white);
  margin-bottom: 10px;


  @media screen and (width > 479px) {
    font-size: .5rem;
    line-height: calc(9/8);
    margin-bottom: 3px;
  }

  @media screen and (width > 999px) {
    font-size: .75rem;
    line-height: calc(14/12);
    margin-bottom: 3px;
  }
}