// h1 30px
.title-h1 {
  color: var(--black);
  @extend %YesevaOne-400;
  font-size: 1.875rem;
  
  @media screen and (width < 769px) {
    font-size: 1.25rem;
  }
  @media screen and (width < 481px) {
    font-size: .9375rem;
  }
}

// h2 40px
.title-h2 {
  font-size: 2.5rem;
  color: var(--gray);
  @extend %YesevaOne-400;
}
