// h1 30px
.title-h1 {
  color: var(--black);
  @extend %YesevaOne-400;
  font-size: 1.875rem;
  line-height: calc(35/30);

  @media screen and (width < 769px) {
    font-size: 1.25rem;
    line-height: calc(23/20);
  }

  @media screen and (width < 481px) {
    font-size: .9375rem;
    line-height: calc(18/15);
  }

  @media screen and (width < 361px) {
    font-size: 1.125rem;
    line-height: calc(21/18);
  }
}

// h2 40px
.title-h2 {
  font-size: 2.5rem;
  color: var(--gray);
  @extend %YesevaOne-400;

  @media screen and (width < 769px) {
    font-size: .9675rem;
    line-height: calc(17/15);
  }

}