.header {
  padding-top: 4px;
  padding-bottom: 30px;
  outline: 1px solid blue;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}