.hero {
  padding: 40px 0 150px;

  &__inner {
    position: relative;
  }

  &__content {
    width: 370px;
    padding: 150px 0 250px;
  }

  &__text {
    margin-bottom: 48px;
  }

  &__bg {
    top: 0;
    left: 240px;
    position: absolute;
    overflow: hidden;

    & img {
      min-width: 1069px;
    }
  }

  @media screen and (width < 1001px) {
    &__content {
      width: 333px;
      padding: 95px 0 70px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__bg {
      left: 320px;

      & img {
        min-width: 701px;
      }
    }
  }

  @media screen and (width < 769px) {
    &__content {
      width: 230px;
      padding: 95px 0 70px;
    }

    &__text {
      margin: 20px 0;
      font-size: .625rem;
      line-height: calc(15/10);
    }

    &__bg {
      left: 180px;

      & img {
        min-width: 525px;
      }
    }
  }

  @media screen and (width < 481px) {
    padding: 30px 0 50px;

    &__content {
      width: 179px;
      padding: 80px 0 80px;
    }

    &__text {
      margin: 15px 0;
      font-size: .5rem;
      line-height: calc(12/8);
    }

    &__bg {
      left: 180px;
    }

    &__bg img {
      min-width: 309px;
    }
  }

  @media screen and (width < 361px) {

    &__content {
      width: 203px;
      padding: 20px 0 0;
    }

    & .title-h2 {
      margin-bottom: 10px;
    }

    &__text {
      font-size: .625rem;
      line-height: calc(11/10);
    }

    &__bg {
      left: 210px;
    }

    &__bg img {
      min-width: 162px;
    }
  }

}