.hero {

  &__inner {
    position: relative;
  }

  &__content {
    width: 203px;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__bg {
    top: -30px;
    left: 174px;
    position: absolute;
    overflow: hidden;

    & img {
      min-width: 202px;
    }
  }

  @media screen and (width > 479px) {
    &__content {
      width: 179px;
      padding: 80px 0 80px;
    }

    &__text {
      font-size: .5rem;
      line-height: calc(12/8);
    }

    &__bg {
      top: -20px;
      left: 174px;
    }

    &__bg img {
      min-width: 309px;
    }
  }

  @media screen and (width > 767px) {
    &__content {
      width: 230px;
      padding: 95px 0 70px;
    }

    &__text {
      margin-bottom: 20px;
      font-size: .625rem;
      line-height: calc(15/10);
    }

    &__bg {
      left: 180px;

      & img {
        min-width: 525px;
      }
    }
  }


  @media screen and (width > 999px) {
    &__content {
      width: 300px;
    }

    & .title-h1 {
      width: 333px;
    }

    &__text {
      font-size: inherit;
      line-height: calc(16/14);
      margin-bottom: 30px;
    }

    &__bg {
      left: 320px;

      & img {
        min-width: 690px;
      }
    }
  }

  @media screen and (width > 1179px) {
    &__content {
      width: 371px;
      padding: 95px 0 283px;
    }

    & .title-h1 {
      width: 391px;
    }

    &__text {
      margin-bottom: 50px;
    }

    &__bg {
      left: 241px;

      & img {
        min-width: 1069px;
      }
    }
  }
}