.nav {

  &__list {
    display: flex;
    gap: 0 20px;
  }

  &__link {
    color: inherit;
    text-transform: uppercase;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--black);

    &-svg {
      color: var(--quicksand);
    }
  }
}