.promotion {
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
  padding-bottom: 42px;

  & .title-h2 {
    color: var(--white);
    margin: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 52px;
  }


  background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-360@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-mini-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-360@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 480px) {
    padding: 42px 0 42px 43px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-480@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-480@2x.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__inner {
      gap: 86px;
    }

    & .title-h2 {
      width: 210px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 67px 0 66px 97px;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-768@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-768@2x.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__inner {
      gap: 178px;
    }

    & .title-h2 {
      width: 270px;
    }
  }

  @media screen and (min-width: 1000px) {
    padding: 120px 0 120px 80px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-1000@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-1000@2x.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__inner {
      gap: 113px;
    }

    & .title-h2 {
      width: 553px;
    }
  }

  @media screen and (min-width: 1180px) {
    padding: 141px 0 145px 196px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-1180@1x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-mini-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/promotion-1180@2x.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__inner {
      gap: 109px;
    }

    & .title-h2 {
      width: 710px;
    }
  }






  
}