.reviews {
  padding-top: 50px;

  & .title-h2 {
    color: var(--black);
  }


  &__slider {
    overflow: hidden;
    position: relative;
    padding-bottom: 70px;
  }

  &__slider-item {
    text-align: center;
  }

  &__video {
    margin: 0 auto 12px;
    position: relative;

    &-img {
      margin: 0 auto;
      width: 250px;
      height: 250px;
    }
  }


  &__play-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__comment {
    margin: 0 auto;
    width: 250px;


    &-name {
      display: inline-block;
      font-size: .75rem;
      line-height: calc(14/12);
      @extend %YesevaOne-400;
      font-style: normal;
      color: var(--black);
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &-text {
      padding-bottom: 10px;
      padding-right: 9px;
    }
  }

  @media screen and (width > 479px) {

    &__slider-item {
      padding: 0;
      display: flex;
      gap: 0 10px;
      align-items: center;
      text-align: left;
    }

    &__comment {
      width: 205px;
    }

    &__video {
      margin: 0;
      width: 195px;

      &-img {
        width: 195px;
        height: 200px;
      }
    }
  }

  @media screen and (width > 767px) {
    padding-top: 150px;
    padding-bottom: 129px;

    &__inner {
      gap: 0;
    }

    &__content {
      position: relative;
    }
    &__slider {
      // width: 438px;

      &-item {
        padding: 0 0 0 18px;
      }
    }


    &__video {
      width: 200px;

      &-img {
        width: 200px;
      }
    }

    &__comment {
      width: 210px;
    }

  }

  @media screen and (width > 999px) {

    &__slider {
      width: 698px;
      padding-bottom: 107px;

      &-item {
        padding: 0 0 0 38px;
        gap: 0 16px;
      }
    }

    &__comment {
      width: 264px;

      &-text {
        padding-bottom: 64px;
        margin-bottom: 7px;
      }
    }

    &__video {
      width: 380px;

      &-img {
        width: 380px;
        height: 370px;
      }
    }

    &__comment-name {
      font-size: 1rem;
      line-height: calc(18/16);
    }

    &__comment-text {
      font-size: .875rem;
      line-height: calc(16/14);
    }
  }

  @media screen and (width > 1179px) {

    &__slider-item {
      padding: 0 0 0 18px;
      gap: 0 14px;
    }

    &__slider {
      width: 786px;
    }

    &__comment {
      width: 372px;

      &-text {
        padding-bottom: 128px;
        margin-bottom: 7px;
      }
    }

    &__video {
      width: 380px;


      &-img {
        width: 380px;
        height: 370px;
      }
    }

    &__comment-name {
      font-size: 1rem;
      line-height: calc(18/16);
    }

    &__comment-text {
      font-size: .875rem;
      line-height: calc(16/14);
    }
  }
}

