.section {

  padding-bottom: 50px;

  &__content {

    @media screen and (width > 359px) and (width < 768px) {
      margin: 0 auto;
    }

    max-width: 235px;
    width: 100%;
    text-align: center;
  }

  &__title {
    color: var(--black);
    margin-bottom: 10px;
  }


  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__decor {
    position: relative;
    padding-left: 9px;
    padding-bottom: 50px;

    &::before {
      position: absolute;
      content: url(../images/section-decor.svg);
      width: 22px;
      height: 30px;
      left: 0;
      bottom: -13px;
    }

    &::after {
      position: absolute;
      content: '';
      background-color: var(--coffee);
      width: 1000%;
      height: 1px;
      left: 22px;
      bottom: 0px;
    }


  .reviews &::before,
  .certificates &::before {
    bottom: 0px;
  }

  .reviews &::after,
  .certificates &::after {
    bottom: 13px;
  }
}


  &__text {
    font-size: .625rem;
    line-height: calc(11/10);
    margin-bottom: 25px;
  }


  @media screen and (width > 479px) {
    &__content {
      max-width: 300px;
      width: 100%;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }

  @media screen and (width > 767px) {
    padding-bottom: 150px;

    &__inner {
      display: flex;
      gap: 13px;
    }

    &__content {
      max-width: 200px;
      width: 100%;
      text-align: left;
    }

    &__text {
      margin-bottom: 0;
    }
  }

  @media screen and (width > 999px) {

    &__inner {
      gap: 0;
    }

    &__content {
      max-width: 260px;
      width: 100%;
    }

    &__list {
      width: 635px;
    }

    // &__decor {
    //   &::after {
    //     bottom: 13px;
    //   }

    //   &::before {
    //     bottom: 0;
    //   }
    // }


    &__text {
      font-size: .875rem;
      line-height: calc(16/14);
    }
  }


  @media screen and (width > 1179px) {

    &__content {
      max-width: 370px;
      width: 100%;
    }
  }
}