.social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;

  &__item {
    width: 22px;
    height: 22px;
  }

  &__link-svg {
    @include transition ($transition-property: fill);

    @media screen and (width > 767px) and (width < 1000px) {
      width: 18px;
      height: 18px;
    }
  }

  &__link:hover &__link-svg,
  &__link:focus &__link-svg {
    padding: 2px;
    width: 25px;
    height: 25px;
    fill: var(--white);
    background-color: var(--coffee);
    border-radius: 50%;
  }

  @media screen and (width > 999px) {
    justify-content: flex-start;
  }
}