.reviews__slider .swiper-pagination,
.certificates__slider .swiper-pagination {
  bottom: 40px;

  @media screen and (width > 999px) {
    bottom: 60px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px);

  @media screen and (width > 999px) {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }
}

.swiper-pagination-bullet {
  width: 28px;
  height: 4px;
  background-color: var(--zorba);
  opacity: 1;
  margin: 0 15px;
  border-radius: 0;

  &-active {
    background-color: var(--coffee);
  }

  @media screen and (width > 999px) {
    width: 53px;
  }
}







// .swiper-pagination-bullets.swiper-pagination-horizontal {
//   bottom: var(--swiper-pagination-bottom, 50px);
// }

// @media screen and (width < 769px) {
//   .swiper-pagination-bullet {
//     width: 60px;
//   }

//   .swiper-pagination-bullet-active {
//     width: 60px;
//     height: 4px;
//   }
// }

// @media screen and (width < 541px) {
//   .swiper-pagination-bullet {
//     width: 35px;
//     height: 2px;
//   }

//   .swiper-pagination-bullet-active {
//     width: 35px;
//   }

//   .swiper-pagination-bullets.swiper-pagination-horizontal {
//     bottom: var(--swiper-pagination-bottom, 30px);
//   }

//   .swiper-pagination-bullets.swiper-pagination-horizontal {
//     bottom: var(--swiper-pagination-bottom, 80px);
//   }